.main-full-head {
  padding: 30px 0;
}
.not-found {
  height: 100%;
}
.filter-group-wrap {
  .ddown-item {
    span {
      word-break: break-word;
      word-wrap: break-word;
    }
  }
}
.btn-row {
  padding: 0;
  width: 100%;
}
