<app-notifier></app-notifier>
<div class="sm-block-row sm-hidden" *ngIf="isFirstStep">
  <div class="container">
    <div class="card-row flex fcotainer ai-center">
      <div class="card text-center">
        <div class="card-inner">
          <h1>Create New Permission Group</h1>
          <span class="subhead">Create a permission group from scratch.</span>
          <div class="form-group mt-30">
            <div class="fitem">
              <input type="text" class="lg-field" placeholder="Enter Group Name" [(ngModel)]="groupName" />
            </div>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-lg btn-gray" *ngIf="groupName === ''">Continue</button>
            <button type="button" class="btn btn-lg" *ngIf="groupName !== ''" (click)="continue();">Continue</button>
          </div>
        </div>
      </div>

      <div class="card text-center">
        <div class="card-inner">
          <h1>Use Existing Permission Group</h1>
          <span class="subhead">Use an existing permission set to act as a base to modify for similar permission
            sets.</span>
          <div class="form-group mt-30">
            <div class="ddown-item">
              <app-select-permission (onSelection)="getGroup($event)"></app-select-permission>
            </div>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-lg" [ngClass]="{'btn-gray' : groupId == 0}"
              (click)="groupId > 0 && getRolePermission();">Duplicate
              Group</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Create New Permissions-->
<div class="block-row new_permission sm-hidden" *ngIf="!isFirstStep">
  <div class="container">
    <div class="card-row flex">
      <div class="card">
        <div class="card-bdr card-title">
          <h5>Create New Permissions for {{groupName}}</h5>
        </div>
        <div class="card-body">
          <span class="subtitle">Changing these permissions will change the abilities and access of all users currently
            assigned to this permission set. Please be aware when modifying these permissions.</span>
          <div class="form-group">
            <div class="fitem half-fitem">
              <div class="fitem half-fitem">
                <label for="">Group Name<sup>*</sup></label>
                <input type="text" class="lg-field" placeholder="Enter Group name" [(ngModel)]="groupName" />
              </div>
            </div>
          </div>

          <div class="card-md-row">
            <div class="flex title-row">
              <span class="md-text">Requests</span>
            </div>
            <div class="form-group">
              <div class="fitem inline-check-list" *ngFor="let request of arrRequestPermission">
                <div class="fitem-check">
                  <input id="request-{{request.id}}" type="checkbox" class="fitem-ck-input" [checked]="request.checked"
                    (change)="requestPermissionSettings($event, request)" />
                  <label for="request-{{request.id}}" class="fitem-ck-txt">
                    {{request.name}}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="card-md-row">
            <div class="flex title-row">
              <span class="md-text">Tasks</span>
              <div class="right-cap-area">
                <div class="fitem inline-check-list">
                  <div class="fitem-check">
                    <input type="checkbox" id="task-all" name="checkboxs" class="fitem-ck-input"
                      (change)="selectAllTask($event)" />
                    <label for="task-all" class="fitem-ck-txt">Select All</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="fitem inline-check-list" *ngFor="let task of arrTaskPermission; let i = index;">
                <div class="fitem-check">
                  <input id="task-{{task.id}}" type="checkbox" class="fitem-ck-input" [checked]="task.checked"
                    (change)="taskPermissionSettings($event, task)" />
                  <label for="task-{{task.id}}" class="fitem-ck-txt">
                    {{task.name}}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="card-md-row">
            <div class="flex title-row flex ai-center" *ngIf="templateFeatureIsOn">
              <span class="md-text">Task Templates</span>
              <div class="right-cap-area">
                <div class="fitem inline-check-list">
                  <div class="fitem-check">
                    <input type="checkbox" id="taskTemplate-all" name="checkboxs" class="fitem-ck-input"
                      (change)="selectAllTaskTemplate($event)" />
                    <label for="taskTemplate-all" class="fitem-ck-txt mb-0">Select All</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="fitem inline-check-list" *ngFor="let taskTemplate of arrTaskTemplatePermission">
                <div class="fitem-check">
                  <input id="taskTemplate-{{taskTemplate.id}}" type="checkbox" class="fitem-ck-input"
                    [checked]="taskTemplate.checked" (change)="taskTemplatePermissionSettings($event, taskTemplate)" />
                  <label for="taskTemplate-{{taskTemplate.id}}" class="fitem-ck-txt">
                    {{taskTemplate.name}}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="card-md-row">
            <div class="flex title-row">
              <span class="md-text">Workflows</span>
              <div class="right-cap-area">
                <div class="fitem inline-check-list">
                  <div class="fitem-check">
                    <input type="checkbox" id="workflow-all" name="checkboxs" class="fitem-ck-input"
                      (change)="selectAllWorkflow($event)" />
                    <label for="workflow-all" class="fitem-ck-txt">Select All</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="fitem inline-check-list" *ngFor="let workflow of arrWorkflowPermission">
                <div class="fitem-check">
                  <input id="workflow-{{workflow.id}}" type="checkbox" class="fitem-ck-input"
                    [checked]="workflow.checked" (change)="workflowPermissionSettings($event, workflow)" />
                  <label for="workflow-{{workflow.id}}" class="fitem-ck-txt">
                    {{workflow.name}}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="card-md-row">
            <div class="flex title-row">
              <span class="md-text">Projects</span>
              <div class="right-cap-area">
                <div class="fitem inline-check-list">
                  <div class="fitem-check">
                    <input type="checkbox" id="project-all" name="checkboxs" class="fitem-ck-input"
                      (change)="selectAllProject($event)" />
                    <label for="project-all" class="fitem-ck-txt">Select All</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="fitem inline-check-list" *ngFor="let project of arrProjectPermission">
                <div class="fitem-check">
                  <input id="project-{{project.id}}" type="checkbox" class="fitem-ck-input" [checked]="project.checked"
                    (change)="projectPermissionSettings($event, project)" />
                  <label for="project-{{project.id}}" class="fitem-ck-txt">
                    {{project.name}}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="card-md-row">
            <div class="flex title-row">
              <span class="md-text">Global Custom Fields</span>
              <div class="right-cap-area">
                <div class="fitem inline-check-list">
                  <div class="fitem-check">
                    <input type="checkbox" id="field-all" name="checkboxs" class="fitem-ck-input"
                      (change)="selectAllField($event)" />
                    <label for="field-all" class="fitem-ck-txt">Select All</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="fitem inline-check-list" *ngFor="let field of arrFieldPermission">
                <div class="fitem-check">
                  <input id="field-{{field.id}}" type="checkbox" class="fitem-ck-input" [checked]="field.checked"
                    (change)="fieldPermissionSettings($event, field)" />
                  <label for="field-{{field.id}}" class="fitem-ck-txt">
                    {{field.name}}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="btn- text-right">
            <button type="button" class="btn btn-bdr btn-lg" (click)="cancel();">Cancel</button>
            <button type="button" class="btn btn-lg btn-gray" *ngIf="!isValidForm()">Add New Permission</button>
            <button type="button" class="btn btn-lg" *ngIf="isValidForm()" (click)="addNewPermission();">Add New
              Permission</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sm-visible">
  <div class="block-row pg-not-found">
    <div class="sm-container">
      <div class="pg-type pos-relative">
        <img src="assets/images/Company Management.png" alt="">
      </div>
      <div class="flex mt-30 not-found-msg">
        <span class="text-center">
          <strong>Mobile view does not support this page</strong>
        </span>
      </div>
    </div>
  </div>
</div>