@charset "utf-8";

@font-face {
  font-family: "stolzl thin";
  src: url("/assets/fonts/Stolzl-Thin.eot");
  src: url("/assets/fonts/Stolzl-Thin.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Stolzl-Thin.woff2") format("woff2"), url("/assets/fonts/Stolzl-Thin.woff") format("woff"),
    url("/assets/fonts/Stolzl-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "stolzl light";
  src: url("/assets/fonts/Stolzl-Light.eot");
  src: url("/assets/fonts/Stolzl-Light.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Stolzl-Light.woff2") format("woff2"), url("/assets/fonts/Stolzl-Light.woff") format("woff"),
    url("/assets/fonts/Stolzl-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "stolzl regular";
  src: url("/assets/fonts/Stolzl-Regular.eot");
  src: url("/assets/fonts/Stolzl-Regular.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Stolzl-Regular.woff2") format("woff2"), url("/assets/fonts/Stolzl-Regular.woff") format("woff"),
    url("/assets/fonts/Stolzl-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "stolzl book";
  src: url("/assets/fonts/Stolzl-Book.eot");
  src: url("/assets/fonts/Stolzl-Book.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Stolzl-Book.woff2") format("woff2"), url("/assets/fonts/Stolzl-Book.woff") format("woff"),
    url("/assets/fonts/Stolzl-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "stolzl bold";
  src: url("/assets/fonts/Stolzl-Bold.eot");
  src: url("/assets/fonts/Stolzl-Bold.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Stolzl-Bold.woff2") format("woff2"), url("/assets/fonts/Stolzl-Bold.woff") format("woff"),
    url("/assets/fonts/Stolzl-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "stolzl medium";
  src: url("/assets/fonts/Stolzl-Medium.eot");
  src: url("/assets/fonts/Stolzl-Medium.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Stolzl-Medium.woff2") format("woff2"), url("/assets/fonts/Stolzl-Medium.woff") format("woff"),
    url("/assets/fonts/Stolzl-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
