<div class="select-box lg-field" [class.open]="isReportTypeOpen" (click)="isReportTypeOpen = !isReportTypeOpen">
  {{reportName}}
</div>
<div class="nav-dropdown" *ngIf="isReportTypeOpen">
  <perfect-scrollbar style="max-width: 100%; max-height: 200px;">
    <div class="checked_list">
      <div class="check-list">
        <span class="fitem-check">
          <input type="checkbox" class="fitem-ck-input" [checked]="true" />
          <label class="fitem-ck-txt">
            {{reportName}}
          </label>
        </span>
      </div>
    </div>
    <div class="check-list">
      <span class="fitem-check" *ngFor="let report of arrReportType | isFalse">
        <input id="type-{{report.id}}" type="checkbox" class="fitem-ck-input" [checked]="report.checked"
          (change)="selectReport(report.id)" />
        <label for="type-{{report.id}}" class="fitem-ck-txt">
          {{report.name}}
        </label>
      </span>
    </div>
  </perfect-scrollbar>
</div>