.left-container {
  width: 200px;
}
.left-container,
.right-container {
  display: inline-block;
}
.header-nav a:hover,
.header-nav a:focus {
  color: #838689;
  cursor: default;
}
.header-nav a,
.header-nav a {
  cursor: default;
}
