.fitem-check input.fitem-ck-input:focus + label:before {
  // box-shadow: 0px 1px 3px 3px rgba(72,92,199,0.3);
  border: 1px solid #485cc7;
}
.fitem-check input.fitem-ck-input {
  opacity: 1 !important;
  width: 10px;
  height: 10px;
  padding: 0;
}
