@media (max-width: 767px) {
  .container {
    padding: 0;
  }
  .title-row {
    padding: 0 10px 10px;
    font-size: 15px;
    h2 {
      line-height: 22px;
      font-size: 20px;
      margin: 0;
      sub {
        width: 100%;
      }
    }
  }
  .right-cap-area {
    position: fixed;
    bottom: 0;
    z-index: 9;
    width: 100%;
    background: #eeeef9;
    text-align: center;
    margin: 0;
    left: 0;
    right: 0;
    padding: 10px;
    .btn {
      width: 100%;
    }
  }
}
