<div class="modal-dialog modal-sm">
  <div class="alert-cont modal-content">
    <div class="modal-header text-center">
      <h5>{{message1}} </h5>
      <a href="javascript:void(0);" class="close" (click)="cancel()">esc</a>
    </div>
    <div class="modal-body">
      <p> {{message2}}</p>
      <p> {{message3}}</p>
      <div class="btn-group flex">
        <a class="btn btn-half btn-bdr btn-lg" href="javascript:void(0);" (click)="cancel()">{{ cancelButtonText }}</a>
        <a class="btn btn-half btn-lg" href="javascript:void(0);" (click)="onSubmit()">
          {{okButtonText}} </a>
      </div>
    </div>
  </div>
</div>