<div class="block-row">
  <div class="container ">
    <div class="card">
      <div class="card-title">
        <h1>Heading</h1>
      </div>
      <div class="card-body">
        <h1>H1 size 24 title <small>Small title with header</small></h1>
        <h2>H2 size 22 title <small>Small title with header</small></h2>
        <h3>H3 size 20 title <small>Small title with header</small></h3>
        <h4>H4 size 28 title <small>Small title with header</small></h4>
        <h5>H5 size 16 title <small>Small title with header</small></h5>
        <h6>H6 size 14 title <small>Small title with header</small></h6>
      </div>
    </div>
    <div class="card">
      <div class="card-title">
        <h1>Buttons</h1>
      </div>
      <div class="card-body">
        <h2>Button filled</h2>
        <div class="btn-group">
          <button type="button" class="btn">Default</button>
          <button type="button" class="btn btn-brand">Primary</button>
          <button type="button" class="btn btn-gray">Disable</button>
          <button type="button" class="btn btn-brand btn-sm">sm-btn</button>
          <button type="button" class="btn btn-brand btn-md">md-btn</button>
          <button type="button" class="btn btn-brand btn-lg">lg-btn</button>
          <!-- <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-danger">Danger</button> -->
          <!-- <button type="button" class="btn btn-warning">Warning</button> -->
        </div>
        <h2>Button outline</h2>
        <div class="btn-group">
          <button type="button" class="btn btn-bdr">Default</button>
          <button type="button" class="btn btn-bdr">Primary</button>
          <button type="button" class="btn btn-warning btn-bdr">Warning</button>
          <button type="button" class="btn btn-bdr btn-sm">sm-btn</button>
          <button type="button" class="btn btn-bdr btn-md">md-btn</button>
          <button type="button" class="btn btn-bdr btn-lg">lg-btn</button>
          <!-- <button type="button" class="btn btn-success btn-bdr">Success</button>
            <button type="button" class="btn btn-danger btn-bdr">Danger</button> -->
          <!-- <button type="button" class="btn btn-gray btn-bdr">Info</button> -->

        </div>
        <!-- <h3>Button text</h3>
          <div class="btn-group">          
            <button type="button" class="btn-txt btn-bdr">Default</button>
            <button type="button" class="btn-txt btn-brand btn-bdr">Primary</button>
            <button type="button" class="btn-txt btn-success btn-bdr">Success</button>
            <button type="button" class="btn-txt btn-danger btn-bdr">Danger</button>
            <button type="button" class="btn-txt btn-gray btn-bdr">Info</button>
            <button type="button" class="btn-txt btn-warning btn-bdr">Warning</button>
          </div>        
        </div>       -->
      </div>
    </div>
    <div class="card">
      <!-- <div class="card-title">
          <h1>listing</h1>
        </div> -->
      <div class="card-body">
        <!-- <ol>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
              <li>Morbi ac justo dictum, vestibulum orci sit amet, euismod neque.</li>
              <li>In consectetur est eget pellentesque lobortis.</li>
              <li>Suspendisse suscipit mauris eu libero varius sollicitudin.</li>
            </ol> -->
        <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit. Qui aut, dolore eaque sint tenetur
          fugit ut quas maiores. Veritatis omnis numquam quasi cumque recusandae fugiat expedita, maxime aspernatur vero
          id.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui aut, dolore eaque sint tenetur fugit ut quas
          maiores. Veritatis omnis numquam quasi cumque recusandae fugiat expedita, maxime aspernatur vero id.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat omnis optio, sapiente eos quos enim iure
          dolorum nesciunt laboriosam tempore! Incidunt eos, doloribus. Vero esse soluta ad culpa, excepturi minus!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia deserunt iure debitis modi rem tenetur
          molestias iusto error <em>asperiores adipisci enim doloremque quibusdam, labore animi, omnis magnam quisquam
            ea! Itaque impedit, earum laborum. Explicabo adipisci asperiores aliquid inventore, blanditiis eius.</em>
        </p>
        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia deserunt iure debitis modi rem tenetur
            molestias iusto error <em>asperiores adipisci enim doloremque quibusdam, labore animi, omnis magnam quisquam
              ea! Itaque impedit, earum laborum. Explicabo adipisci asperiores aliquid inventore, blanditiis eius.</em>
          </p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem repellat, impedit eaque doloremque eveniet est
          ratione, animi nemo voluptates nihil perspiciatis minima ducimus! Reprehenderit nam nulla minima eum, debitis
          itaque numquam, quae laudantium suscipit officia inventore non autem, eaque tempora ipsa corrupti. Facere
          velit quae deserunt distinctio delectus vitae consequuntur dolorem beatae architecto nam, porro eos,
          asperiores in quo quod?
        </blockquote>
      </div>
    </div>
    <div class="card">
      <div class="card-title card-bdr flex">
        <h5 class="m-0">Form & Title</h5>
        <a class="secondary_btn m-0"><img src="assets/images/ProxyAssets/UserManagementAssets/PlusSquare-Icon.svg" />
          MASS INVITE USERS </a>
      </div>
      <div class="card-title">
        <p class="font-size-base-sm">Sub text description</p>
      </div>
      <div class="card-body">
        <span class="errormsg">Error message description.</span>
        <span class="successmsg">Success message description.</span>
        <div class="form-group">
          <div class="fitem">
            <label for="">Input Empty<sup>*</sup></label>
            <input type="text" placeholder="Input empty">
          </div>
          <div class="fitem">
            <label for="">Input Disabled</label>
            <input type="text" disabled="true" value="test" placeholder="Input disabled">
            <!-- <label class="validate-message">Success Message will be diplayed here...</label> -->
          </div>
          <div class="fitem">
            <label for="">Input test</label>
            <input type="text" value="test" placeholder="Input test">
            <!-- <label class="validate-message">Success Message..</label> -->
          </div>
          <div class="fitem error">
            <label for="">Input Error</label>
            <input type="text" class="error">
            <label for="" class="error">This field breaks validation rule</label>
          </div>
          <div class="fitem half-fitem">
            <div class="fitem half-fitem">
              <label for="">Input label</label>
              <input type="text">
            </div>
            ​
            <div class="fitem  half-fitem">
              <label>Selected Empty</label>
              <select>
                <option>Select Empty</option>
                <option>Lorem ipsum dolor,</option>
                <option>Lorem ipsum </option>
                <option>Lorem doloroption>
              </select>
            </div>
            <div class="fitem half-fitem">
              <label for="">Input label</label>
              <input type="text">
            </div>
            ​
            <div class="fitem half-fitem">
              <label for="">Input label</label>
              <input type="text">
            </div>
          </div>
          <div class="fitem half-fitem">
            <div class="fitem half-fitem">
              <label for="">Input label</label>
              <input type="text">
            </div>
            <div class="fitem half-fitem">
              <label for="">Input label</label>
              <input type="text">
            </div>
            <div class="fitem half-fitem">
              <label for="">Input label</label>
              <input type="text">
            </div>
          </div>
          <div class="fitem half-fitem">
            <div class="fitem half-fitem">
              <label for="">Input label</label>
              <input type="text">
            </div>
            <div class="fitem half-fitem">
              <label for="">Input label</label>
              <input type="text">
            </div>
          </div>
          <div class="fitem half-fitem">
            <div class="fitem half-fitem inline-check-list">
              <div class="fitem-check">
                <input type="radio" class="fitem-ck-input" id="radio1" name="test">
                <label for="radio1" class="fitem-ck-txt">This is radio btn</label>
              </div>
              <div class="fitem-check">
                <input type="radio" class="fitem-ck-input" id="radio2" name="test">
                <label for="radio2" class="fitem-ck-txt">This is radio btn</label>
              </div>
            </div>
            <div class="fitem half-fitem inline-check-list">
              <div class="fitem-check">
                <input type="checkbox" class="fitem-ck-input" id="checkbox" name="checkboxs">
                <label for="checkbox" class="fitem-ck-txt">This is checkbox btn</label>
              </div>
              <div class="fitem-check">
                <input type="checkbox" class="fitem-ck-input" id="checkbox1" name="checkboxsa">
                <label for="checkbox1" class="fitem-ck-txt">This is checkbox btn</label>
              </div>
            </div>
          </div>
          <div class="fitem">
            <label>Selected Empty</label>
            <select>
              <option>Select Empty</option>
              <option>Lorem ipsum dolor,</option>
              <option>Lorem ipsum </option>
              <option>Lorem doloroption>
            </select>
          </div>
        </div>
      </div>
    </div>
    ​
    <div class="card">
      <div class="card-title">
        <h1>Tables</h1>
        <h6>Subtitle</h6>
      </div>
      <div class="">
        <table class="table">
          <thead>
            <tr>
              <th><span>First Name &nbsp;<a href="javascript:void(0)"><img
                      src="assets/images/ProxyAssets/UserManagementAssets/Sort-Icon.svg" alt="sort" /></a></span></th>
              <th><span>Last Name &nbsp;<a href="javascript:void(0)"><img
                      src="assets/images/ProxyAssets/UserManagementAssets/Sort-Icon.svg" alt="sort" /></a></span></th>
              <th><span>Title&nbsp;<a href="javascript:void(0)"><img
                      src="assets/images/ProxyAssets/UserManagementAssets/Sort-Icon.svg" alt="sort" /></a></span></th>
              <th><span>Permissions &nbsp;<a href="javascript:void(0)"><img
                      src="assets/images/ProxyAssets/UserManagementAssets/Filter-Icon.svg" alt="sort" /></a><a
                    href="javascript:void(0)"><img
                      src="assets/images/ProxyAssets/UserManagementAssets/Settings-Icon.svg" alt="sort" /></a></span>
              </th>
              <th><span>Group &nbsp;<a href="javascript:void(0)"><img
                      src="assets/images/ProxyAssets/UserManagementAssets/Settings-Icon.svg" alt="sort" /></a></span>
              </th>
              <th width="100px">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>sukhwindersingh</td>
              <td>Cawley</td>
              <td class="opacity6">Legal Department</td>
              <td class="opacity6">General Counsel</td>
              <td class="opacity6">Chicago, +12</td>
              <td class="opacity-hidden actions"><span class="flex-start"><a href="">Resend</a><a href=""
                    class="bin"><img src="assets/images/ProxyAssets/UserManagementAssets/Bin-Icon.svg"
                      alt="trash" /></a></span></td>
            </tr>
            <tr>
              <td>Benjamin</td>
              <td>Cawley</td>
              <td class="opacity6">Legal Department</td>
              <td class="opacity6">General Counsel</td>
              <td class="opacity6">Chicago, +12</td>
              <td class="opacity-hidden actions"><span class="flex-start"><a href="">Resend</a><a href=""
                    class="bin"><img src="assets/images/ProxyAssets/UserManagementAssets/Bin-Icon.svg"
                      alt="trash" /></a></span></td>
            </tr>
            <tr>
              <td>Benjamin</td>
              <td>Cawley</td>
              <td class="opacity6">Legal Department</td>
              <td class="opacity6">General Counsel</td>
              <td class="opacity6">Los Angeles, +12</td>
              <td class="opacity-hidden actions"><span class="flex-start"><a href="">Resend</a><a href=""
                    class="bin"><img src="assets/images/ProxyAssets/UserManagementAssets/Bin-Icon.svg"
                      alt="trash" /></a></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3>Link text</h3>
        <a href="" class="primary-link">Primary Link</a>
        <a href="" class="secondary-link">Secondary Link</a>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h3>Tabs</h3>
        <div class="tabs">
          <a href="" class="tname active">Tab 1</a>
          <a href="" class="tname">Tab 2</a>
        </div>
      </div>
    </div>
  </div>
  <div class="sm-block-row ">
    <div class="container">
      <div class="card-row flex">
        <div class="card">
          <div class="card-title card-bdr">
            <h5 class="m-0">card</h5>
          </div>
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, qui porro quaerat nesciunt obcaecati
              sit perferendis tempora ea harum repellendus quae excepturi. Quidem quia et necessitatibus quas
              exercitationem. Consectetur, atque.</p>
            <div class="list_tags selected">
              <span class="tag">
                Tag name
                <a class="plus-close" href="javascript:void(0)"><img alt="" src="assets/images/close.svg"></a>
              </span>
            </div>
            <div class="list_tags">
              <span class="tag">
                Tag name
                <a class="plus-close" href="javascript:void(0)"><img alt="" src="assets/images/btn-plus.png"></a>
              </span>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-title">
            <h5>card</h5>
          </div>
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, qui porro quaerat nesciunt obcaecati
              sit perferendis tempora ea harum repellendus quae excepturi. Quidem quia et necessitatibus quas
              exercitationem. Consectetur, atque.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sm-block-row ">
    <div class="container">
      <div class="card-row flex info-card-list">
        <div class="card">
          <div class="card-title mb-0 high_prior">
            <h6 class="mb-0"> Codal Group </h6>
            <span> 20 Members </span>
          </div>
          <div class="card-body">
            <div class="chart-info">
              <div class="chart-canvas"><img src="assets/images/Group_35.png" alt="" /></div>
              <div class="chart-detail">
                <span><strong>60 / 148</strong> tasks complete</span>
                <span><strong>41% complete</strong></span>
                <span class="overdue">2 overdue &nbsp;<img class="m-0" src="assets/images/arrow-down-right.svg"
                    alt="" /></span>
              </div>
            </div>
          </div>
          <div class="card-foot flex ai-center">
            <a class="m-0 sm-text" href="">View all &nbsp; <img class="m-0" src="assets/images/arrow-icon.svg"
                alt="view all" /></a>
            <div class="profile-wrap m-0">
              <figure><img src="assets/images/profile.png" alt="user"></figure>
              <figure><img src="assets/images/profile.png" alt="user"></figure>
              <figure><img src="assets/images/profile.png" alt="user"></figure>
              <figure><span>+5</span></figure>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-title mb-0 low_prior">
            <h6 class="mb-0"> Codal Group </h6>
            <span> 20 Members </span>
          </div>
          <div class="card-body">
            <div class="chart-info">
              <div class="chart-canvas"><img src="assets/images/Group_35.png" alt="" /></div>
              <div class="chart-detail">
                <span><strong>60 / 148</strong> tasks complete</span>
                <span><strong>41% complete</strong></span>
                <span class="overdue">2 overdue &nbsp;<img class="m-0" src="assets/images/arrow-down-right.svg"
                    alt="" /></span>
              </div>
            </div>
          </div>
          <div class="card-foot flex ai-center">
            <a class="m-0 sm-text" href="">View all &nbsp; <img class="m-0" src="assets/images/arrow-icon.svg"
                alt="view all" /></a>
            <div class="profile-wrap m-0">
              <figure><img src="assets/images/profile.png" alt="user"></figure>
              <figure><img src="assets/images/profile.png" alt="user"></figure>
              <figure><img src="assets/images/profile.png" alt="user"></figure>
              <figure><span>+5</span></figure>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-title mb-0 medium_prior">
            <h6 class="mb-0"> Codal Group </h6>
            <span> 20 Members </span>
          </div>
          <div class="card-body">
            <div class="chart-info">
              <div class="chart-canvas"><img src="assets/images/Group_35.png" alt="" /></div>
              <div class="chart-detail">
                <span><strong>60 / 148</strong> tasks complete</span>
                <span><strong>41% complete</strong></span>
                <span class="overdue">2 overdue &nbsp;<img class="m-0" src="assets/images/arrow-down-right.svg"
                    alt="" /></span>
              </div>
            </div>
          </div>
          <div class="card-foot flex ai-center">
            <a class="m-0 sm-text" href="">View all &nbsp; <img class="m-0" src="assets/images/arrow-icon.svg"
                alt="view all" /></a>
            <div class="profile-wrap m-0">
              <figure><img src="assets/images/profile.png" alt="user"></figure>
              <figure><img src="assets/images/profile.png" alt="user"></figure>
              <figure><img src="assets/images/profile.png" alt="user"></figure>
              <figure><span>+5</span></figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sm-block-row ">
    <div class="container">
      <div class="card-row flex">
        <div class="card">
          <div class="card-title card-bdr">
            <h5 class="m-0">card</h5>
          </div>
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, qui porro quaerat nesciunt obcaecati
              sit perferendis tempora ea harum repellendus quae excepturi. Quidem quia et necessitatibus quas
              exercitationem. Consectetur, atque.</p>
            <div class="list_tags selected">
              <span class="tag">
                Tag name
                <a class="plus-close" href="javascript:void(0)"><img alt=""
                    src="/src/assets/images/btn-close-icon.png"></a>
              </span>
            </div>
            <div class="list_tags">
              <span class="tag">
                Tag name
                <a class="plus-close" href="javascript:void(0)"><img alt=""
                    src="/src/assets/images/btn-close-icon.png"></a>
              </span>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-title">
            <h5>card</h5>
          </div>
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, qui porro quaerat nesciunt obcaecati
              sit perferendis tempora ea harum repellendus quae excepturi. Quidem quia et necessitatibus quas
              exercitationem. Consectetur, atque.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-title">
            <h5>card</h5>
          </div>
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, qui porro quaerat nesciunt obcaecati
              sit perferendis tempora ea harum repellendus quae excepturi. Quidem quia et necessitatibus quas
              exercitationem. Consectetur, atque.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sm-block-row">
    <div class="container">
      <h2>Pagination style <small>Left | Right | center | Left with text first </small></h2>
      <div class="pagi-area flex-start">
        <ul class="pagi-list">
          <li> <a class="prev" href="javascript:void(0);"> </a> </li>
          <li> <a href="javascript:void(0);">1</a> </li>
          <li> <a href="javascript:void(0);">2</a> </li>
          <li> <a href="javascript:void(0);">3</a> </li>
          <li> <a class="no-bg" href="javascript:void(0);">...</a> </li>
          <li> <a href="javascript:void(0);">15</a> </li>
          <li> <a class="next" href="javascript:void(0);"></a> </li>
        </ul>
        <p>Showing 10 of 118 Tasks</p>
      </div>
      <div class="pagi-area flex-end">
        <p>Showing 10 of 118 Tasks</p>
        <ul class="pagi-list">
          <li> <a class="prev" href="javascript:void(0);"> </a> </li>
          <li> <a class="active" href="javascript:void(0);">1</a> </li>
          <li> <a href="javascript:void(0);">2</a> </li>
          <li> <a href="javascript:void(0);">3</a> </li>
          <li> <a class="no-bg" href="javascript:void(0);">...</a> </li>
          <li> <a href="javascript:void(0);">15</a> </li>
          <li> <a class="next" href="javascript:void(0);"></a> </li>
        </ul>
      </div>
      <div class="pagi-area flex-center">
        <p>Showing 10 of 118 Tasks</p>
        <ul class="pagi-list">
          <li> <a class="prev" href="javascript:void(0);"> </a> </li>
          <li> <a href="javascript:void(0);">1</a> </li>
          <li> <a href="javascript:void(0);">2</a> </li>
          <li> <a href="javascript:void(0);">3</a> </li>
          <li> <a class="no-bg" href="javascript:void(0);">...</a> </li>
          <li> <a href="javascript:void(0);">15</a> </li>
          <li> <a class="next" href="javascript:void(0);"></a> </li>
        </ul>
      </div>

      <div class="pagi-area flex-start">
        <p>Showing 10 of 118 Tasks</p>
        <ul class="pagi-list">
          <li> <a class="prev" href="javascript:void(0);"> </a> </li>
          <li> <a href="javascript:void(0);">1</a> </li>
          <li> <a href="javascript:void(0);">2</a> </li>
          <li> <a href="javascript:void(0);">3</a> </li>
          <li> <a class="no-bg" href="javascript:void(0);">...</a> </li>
          <li> <a href="javascript:void(0);">15</a> </li>
          <li> <a class="next" href="javascript:void(0);"></a> </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="sm-block-row">
    <div class="container">
      <h2>File Uploading Style here... </h2>
      <div class="card-row flex">
        <div class="card">
          <div class="card-title">Nomal File Uploading Style here... </div>
          <div class="card-body">
            <div class="file-wrap">
              <input type="file" id="files">
              <label for="files" class="upload-file-lbl d-flex align-items-center justify-content-center">
                <p>Drag & drop your files here<strong> or <b>Browse</b> </strong>
                </p>
              </label>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-title">disabled File Uploading Style here...</div>
          <div class="card-body">
            <div class="file-wrap">
              <input type="file" id="files" disabled>
              <label for="files" class="upload-file-lbl d-flex align-items-center justify-content-center">
                <p>Drag & drop your files here<strong> or <b>Browse</b> </strong>
                </p>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Workflow list starts here-->
<div class="main-full-head">
  <div class="container">
    <ul class="breadcrumbs-wrap">
      <li><a href="javascript:void(0)"><strong>Project Name</strong> (12 Workflows)</a></li>
      <li>Workflow Name <a href="javascript:void(0)">(12 Tasks) <img src="assets/images/select-icons.png" alt=""></a>
      </li>
    </ul>
    <div class="task-header-wrap flex">
      <div class="prty-wrap">
        <a href="javascript:void(0);" class="prty-btn"> Low </a>
      </div>
      <div class="title-row">
        <h2 class="test-class">Task for service</h2>
        <div class="title-btm-wrap flex ai-center">
          <div class="due-startdate-wrap">
            <div class="due-date">
              <a class="date-btn" href="javascript:void(0);"><strong>Due:</strong>
                18/12/2020
              </a>
            </div>
            <div class="start-date">
              <a class=" date-btn" href="javascript:void(0);"><strong>start:</strong>
                18/12/2021
                <!-- <span></span> -->
              </a>
            </div>
          </div>
          <div class="btn-switch-wrap">
            <input type="checkbox" class="btn-switch" id="switch">
            <label for="switch"> Private </label>
          </div>
        </div>
      </div>
      <div class="btn-wrap flex">
        <div class="user-wrap">
          <div class="profile-wrap fig-lg">
            <div class="wf-owner tooltip">
              <span class="tt_text">This is tooltip</span>
              <figure><img src="assets/images/profile.png" alt=""></figure>
            </div>
            <figure><img src="assets/images/profile.png" alt=""></figure>
            <a class="add-user-btn" href="javascript:void(0);">+</a>
          </div>
          <div>

          </div>
        </div>
        <ul class="btn-group">
          <li><a class="btn-box" href="javascript:void(0);"><img src="assets/images/dependencies-icon-b.svg" alt=""></a>
          </li>
          <li><a class="btn-box" href="javascript:void(0);"><img src="assets/images/send-icon-b-lg.svg" alt=""></a></li>
          <li><a class="btn-box" href="javascript:void(0);"><img src="assets/images/check-icon-b.svg" alt=""></a></li>
          <li><a class="btn-box" href="javascript:void(0);"><img src="assets/images/more-horizontal.svg" alt=""></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="main-filter-head">
  <div class="container">
    <div class="flex filter-group-wrap ai-center">
      <div class="form-group flex">
        <div class="ddown-item">
          <label>Assigned to Group(s)</label>

        </div>
        <div class="ddown-item">
          <label for="">Tags: </label>

        </div>

        <div class="ddown-item">
          <label for="">Status: </label>

        </div>
      </div>
      <div class="filter-right">
        <div class="progress-bar">

          <span class="progress-line">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sm-block-row">
  <div class="container">
    <h5>Workflows</h5>
    <div class="ctable-row">
      <div class="wf-tab">
        <div class="flex-ctable-item ctable-danger">
          <div class="ctable-full">Contract Management</div>
          <div class="ctable-date-name">
            <p><strong>Due:</strong> 10/31/2019</p>
            <p>Owner: <a href="javascript:void(0)">Charlie Kelly</a></p>
          </div>
          <div class="ctable-progress">
            <div class="ctable-progress-wrap">
              <span style="width: 70%;"></span>8 Tasks
              <p>13 Total Tasks</p>
            </div>
          </div>
          <div class="ctable-btn">
            <a href="javascript:void(0);"><img src="/assets/images/plus-icon-black.svg" alt=""></a>
          </div>
        </div>
        <!--Task list of worklow starts here-->
        <div class="ttable-row">
          <div class="titem-row-head titem-bg">
            <span class="titem ttable-rank">Rank
              <a href="javascript:void(0)">
                <img src="assets/images/ProxyAssets/UserManagementAssets/Sort-Icon.svg" alt="sort">
              </a>
            </span>
            <span class="titem ttable-full">Task Name
              <a href="javascript:void(0)">
                <img src="assets/images/ProxyAssets/UserManagementAssets/Sort-Icon.svg" alt="sort">
              </a>
            </span>
            <span class="titem ttable-date">Due Date
              <a href="javascript:void(0)">
                <img src="assets/images/ProxyAssets/UserManagementAssets/Sort-Icon.svg" alt="sort">
              </a>
            </span>
            <span class="titem ttable-status pos-relative">Status
              <a href="javascript:void(0)">
                <img src="assets/images/ProxyAssets/UserManagementAssets/Filter-Icon.svg" alt="sort">
              </a>
            </span>
            <span class="titem ttable-assign">Assigned To
              <a href="javascript:void(0)">
                <img src="assets/images/ProxyAssets/UserManagementAssets/Filter-Icon.svg" alt="sort">
              </a>
            </span>
          </div>
          <div class="flex-ttable-item">
            <div class="ttable-rank">
              <input type="text" value="1" />
            </div>
            <div class="ttable-full"> <a>Get Stephen to review and sign the NDA</a> </div>
            <div class="ttable-date">10/31/2019</div>
            <div class="ttable-status">In Progress</div>
            <div class="ttable-assign">
              <div class="profile-wrap">
                <figure>
                  <img src="assets/images/profile.png" alt="">
                </figure>
                <p>Benjamin Cawley</p>
              </div>
            </div>
          </div>
        </div>
        <!--Task list of worklow starts here-->
      </div>
      <div class="wf-tab">
        <div class="flex-ctable-item ctable-danger">
          <div class="ctable-full">Contract Management</div>
          <div class="ctable-date-name">
            <p><strong>Due:</strong> 10/31/2019</p>
            <p>Owner: <a href="javascript:void(0)">Charlie Kelly</a></p>
          </div>
          <div class="ctable-progress">
            <div class="ctable-progress-wrap">
              <span style="width: 70%;"></span>8 Tasks
              <p>13 Total Tasks</p>
            </div>
          </div>
          <div class="ctable-btn">
            <a href="javascript:void(0);"><img src="/assets/images/plus-icon-black.svg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="wf-tab">
        <div class="flex-ctable-item ctable-gray">
          <div class="ctable-full">Contract Management</div>
          <div class="ctable-date-name">
            <p><strong>Due:</strong> 10/31/2019</p>
            <p>Owner: <a href="javascript:void(0)">Charlie Kelly</a></p>
          </div>
          <div class="ctable-progress">
            <div class="ctable-progress-wrap">
              <span style="width: 70%;"></span>8 Tasks
              <p>13 Total Tasks</p>
            </div>
          </div>
          <div class="ctable-btn">
            <a href="javascript:void(0);"><img src="/assets/images/plus-icon-black.svg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="wf-tab">
        <div class="flex-ctable-item ">
          <div class="ctable-full">Contract Management</div>
          <div class="ctable-date-name">
            <p><strong>Due:</strong> 10/31/2019</p>
            <p>Owner: <a href="javascript:void(0)">Charlie Kelly</a></p>
          </div>
          <div class="ctable-progress">
            <div class="ctable-progress-wrap">
              <span style="width: 70%;"></span>8 Tasks
              <p>13 Total Tasks</p>
            </div>
          </div>
          <div class="ctable-btn">
            <a href="javascript:void(0);"><img src="/assets/images/plus-icon-black.svg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="wf-tab">
        <div class="flex-ctable-item ctable-danger">
          <div class="ctable-full">Contract Management</div>
          <div class="ctable-date-name">
            <p><strong>Due:</strong> 10/31/2019</p>
            <p>Owner: <a href="javascript:void(0)">Charlie Kelly Charlie Kelly</a></p>
          </div>
          <div class="ctable-progress">
            <div class="ctable-progress-wrap">
              <span style="width: 70%;"></span>8 Tasks
              <p>13 Total Tasks</p>
            </div>
          </div>
          <div class="ctable-btn">
            <a href="javascript:void(0);"><img src="/assets/images/plus-icon-black.svg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="wf-tab">
        <div class="flex-ctable-item ctable-success">
          <div class="ctable-full">Contract Management</div>
          <div class="ctable-date-name">
            <p><strong>Due:</strong> 10/31/2019</p>
            <p>Owner: <a href="javascript:void(0)">Charlie Kelly</a></p>
          </div>
          <div class="ctable-progress">
            <div class="ctable-progress-wrap">
              <span style="width: 70%;"></span>8 Tasks
              <p>13 Total Tasks</p>
            </div>
          </div>
          <div class="ctable-btn">
            <a href="javascript:void(0);"><img src="/assets/images/plus-icon-black.svg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="wf-tab">
        <div class="flex-ctable-item ctable-warn">
          <div class="ctable-full">Contract Management</div>
          <div class="ctable-date-name">
            <p><strong>Due:</strong> 10/31/2019</p>
            <p>Owner: <a href="javascript:void(0)">Charlie Kelly</a></p>
          </div>
          <div class="ctable-progress">
            <div class="ctable-progress-wrap">
              <span style="width: 70%;"></span>8 Tasks
              <p>13 Total Tasks</p>
            </div>
          </div>
          <div class="ctable-btn">
            <a href="javascript:void(0);"><img src="/assets/images/plus-icon-black.svg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="wf-tab">
        <div class="flex-ctable-item ">
          <div class="ctable-full">Contract Management</div>
          <div class="ctable-date-name">
            <p><strong>Due:</strong> 10/31/2019</p>
            <p>Owner: <a href="javascript:void(0)">Charlie Kelly</a></p>
          </div>
          <div class="ctable-progress">
            <div class="ctable-progress-wrap">
              <span style="width: 70%;"></span>8 Tasks
              <p>13 Total Tasks</p>
            </div>
          </div>
          <div class="ctable-btn">
            <a href="javascript:void(0);"><img src="/assets/images/plus-icon-black.svg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Workflow list ends here-->

<!--Create task starts here-->

<div class="block-row twp-create">
  <div class="container">
    <div class="aside-area">
      <div class="aside-full-block">
        <div class="card">
          <div class="card-title card-bdr">
            <h5>Create New Task</h5>
          </div>
          <div class="card-body">
            <div class="form-group ">
              <div class="fitem partition-items">
                <div class="fitem">
                  <label>Task Name<sup>*</sup></label>
                  <input type="text" class="" placeholder="Name your Task" />
                </div>
                <div class="fitem">
                  <label>Importance</label>
                  <div class="prty-wrap">
                    <a href="" class="prty-btn">Low</a>
                  </div>
                </div>
              </div>
              <div class="ddown-item">
                <label>Associate Task with Workflow</label>
                <select>Contract Management</select>
              </div>
              <div class="fitem half-fitem">
                <div class="fitem half-fitem">
                  <label class="flex ai-center">Assign Task To
                    <div class="fitem inline-check-list m-0">
                      <div class="fitem-check">
                        <input type="checkbox" id="checkbox18" name="checkboxs" class="fitem-ck-input">
                        <label for="checkbox18" class="fitem-ck-txt">Assign to myself</label>
                      </div>
                    </div>
                  </label>
                  <input type="text" class="" placeholder="Assign to" />
                </div>
                <div class="fitem half-fitem">
                  <label>Add Your Team</label>
                  <select>Select Responsible Team</select>
                </div>
              </div>
              <div class="fitem half-fitem">
                <div class="fitem half-fitem">
                  <label>Due Date</label>
                  <input type="datetime" class="date-input" placeholder="Enter or Select from calendar" />
                </div>
                <div class="fitem half-fitem">
                  <label class="flex ai-center">Start Date if known
                    <div class="fitem inline-check-list m-0">
                      <div class="fitem-check">
                        <input type="checkbox" id="checkbox15" name="checkboxs" class="fitem-ck-input">
                        <label for="checkbox15" class="fitem-ck-txt">Assign to myself</label>
                      </div>
                    </div>
                  </label>
                  <input type="datetime" class="date-input" placeholder="Enter or Select from Calendar" />
                </div>
              </div>
              <div class="fitem">
                <div class="fitem inline-check-list">
                  <div class="fitem-check eq-fitem">
                    <input type="checkbox" id="checkbox1" name="checkboxs" class="fitem-ck-input">
                    <label for="checkbox1" class="fitem-ck-txt">None</label>
                  </div>
                  <div class="fitem-check eq-fitem">
                    <input type="checkbox" id="checkbox2" name="checkboxs" class="fitem-ck-input">
                    <label for="checkbox2" class="fitem-ck-txt">Attorney Client</label>
                  </div>
                  <div class="fitem-check eq-fitem">
                    <input type="checkbox" id="checkbox3" name="checkboxs" class="fitem-ck-input">
                    <label for="checkbox3" class="fitem-ck-txt">Work Product</label>
                  </div>
                  <div class="fitem-check eq-fitem">
                    <input type="checkbox" id="checkbox4" name="checkboxs" class="fitem-ck-input">
                    <label for="checkbox4" class="fitem-ck-txt">Confidential</label>
                  </div>
                </div>
              </div>
              <div class="fitem">
                <label>Tasks aren’t just stand-alone objects and we want to help you understand and visualise your task
                  flows.</label>
                <p>For example: a task for a General Counsel to review an NDA has to come after a task for their junior
                  to write the NDA. When one is complete, the other can occur. </p>
              </div>
              <div class="fitem">
                <label>Prior to this task</label>
                <select>Write an NDA for Stephen and his partnership with Proxy</select>
              </div>
              <div class="ddown-item">
                <label>After this task</label>
                <select>When this task is complete, should this trigger another?</select>
              </div>
            </div>

          </div>
        </div>
        <div class="btn-group text-right">
          <button type="button" class="btn btn-bdr btn-md">Cancel</button>
          <button type="button" class="btn btn-md btn-gray">Create New Task</button>
        </div>
      </div>
      <aside class="side_card">
        <h6>Tag task</h6>
        <div class="card no-pad bdr-box">
          <input type="text" class="" placeholder="Search List" />
          <div class="tags-bar">
            <div class="list_tags selected">
              <span class="tag">
                Lincoln
                <a href="" class="plus-close"><img src="assets/images/close.svg" /></a>
              </span>
              <span class="tag">
                This is test tag name
                <a href="" class="plus-close"><img src="assets/images/close.svg" /></a>
              </span>
              <span class="tag">
                PROXY
                <a href="" class="plus-close"><img src="assets/images/close.svg" /></a>
              </span>
              <span class="tag">
                nmbl
                <a href="" class="plus-close"><img src="assets/images/close.svg" /></a>
              </span>
              <span class="tag">
                nmbl
                <a href="" class="plus-close"><img src="assets/images/close.svg" /></a>
              </span>
            </div>
            <div class="list_tags">
              <span class="tag">
                LCN
                <a href="" class="plus-close"><img src="assets/images/btn-plus.png" /></a>
              </span>
              <span class="tag">
                Archived
                <a href="" class="plus-close"><img src="assets/images/btn-plus.png" /></a>
              </span>
              <span class="tag">
                Workflow
                <a href="" class="plus-close"><img src="assets/images/btn-plus.png" /></a>
              </span>
              <span class="tag">
                Secret Task
                <a href="" class="plus-close"><img src="assets/images/btn-plus.png" /></a>
              </span>

            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-title card-bdr mb-0">
            <h5>Documents</h5>
          </div>
          <div class="card-body">
            <div class="file-wrap main-full-head-task mt-30" DragDrop>
              <input type="file" id="files">
              <label for="files" class="upload-file-lbl d-flex align-items-center justify-content-center">
                <p>Drag & drop your files here<strong> or <b>Browse</b> </strong></p>
              </label>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
<!--Create task ends here-->

<div class="modal transition">
  <div class="modal-dialog">
    <div class="modal-content alert-cont">
      <div class="modal-header text-center">
        <h5>Delete Announcement </h5>
        <a href="javascript:void(0);" class="close">esc</a>
      </div>
      <div class="modal-body">
        <p>Once you delete the announcement, you cannot retrieve it.</p>
        <div class="btn-group flex">
          <a class="btn btn-half btn-bdr btn-lg" href="javascript:void(0);">Cancel</a>
          <a class="btn btn-half btn-lg" href="javascript:void(0);">Remove </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--404 Page not found-->
<div class="block-row pg-not-found">
  <div class="sm-container">
    <div class="pg-type pos-relative">
      <img src="assets/images/not-found-group.svg" alt="">
    </div>
    <div class="not-found-msg flex mt-30">
      <span><strong> Access Denied!</strong></span>
      <span class="mt-20 text-center"> You don't have permission to view this page.</span>
    </div>
  </div>
</div>