$white: #ffffff;
$black: #000000;
$background: #f5f7fa;
$text: #2c2e2f;
$text-button: #6b737c;
$grey: #9fa0a4;
$dark: #7b7f9d;
$border: #9da3a6;
$border-light: #d4dade;
$blue: #0070ba;
$blue-light: #acd5ed;
$blue-icon: #0d79b1;
$blue-secondary: #1546a0;
$gradient: linear-gradient(100deg, $blue, $blue-secondary);
$proxy: #485cc7;
