<div class="daterangepicker lg-field" [ngClass]="{ 'is-active': !!opened, 'theme-proxy': options.theme === 'proxy' }">
  <span class="sm-text"><strong>Date Range</strong></span>
  <div class="drop-down" #inside (click)="toggleCalendar($event,'from');">
    {{formatDate(this.dateFrom)}} - {{formatDate(dateTo)}}
  </div>
  <div class="calendar" [ngClass]="{ 'is-opened': !!opened }">
    <div class="calendar-container">
      <div class="controls">
        <span class="control-title capitalize">
          {{ date | dateRangePicker:'MMMM YYYY':options.locale }}
        </span>
        <span class="control-icon" (click)="prevMonth()">
          <i class="fa fa-angle-left"></i>
        </span>
        <span class="control-icon" (click)="nextMonth()">
          <i class="fa fa-angle-right"></i>
        </span>
      </div>
      <div class="day-names">
        <span class="day-name" *ngFor="let name of dayNames">{{ name }}</span>
      </div>
      <div class="days">
        <div class="day" *ngFor="let d of days; let i = index;" [ngClass]="{
                     'is-within-range': d.isWithinRange,
                     'is-from': d.from,
                     'is-to': d.to }" (click)="selectDate($event, i)">
          <span *ngIf="d.visible" class="day-num" [class.is-active]="d.from || d.to">{{ d.day }}</span>
        </div>
      </div>
      <div class="footbtns" *ngIf="visibleApplyBtn">
        <button type="button" class="btn fbtn" (click)="applyFilter()">Apply</button>
      </div>
    </div>
    <div class="side-container" *ngIf="options.menu && options.menu.length > 0">
      <div class="side-container-buttons">
        <button type="button" class="side-button" *ngFor="let range of options.menu" (click)="selectRange(range)"
          [class.is-active]="range.active">{{range.text}}
        </button>
      </div>
      <span class="close-icon" (click)="closeCalendar($event)">
        <svg width="20px" height="20px" viewBox="47 44 20 20" version="1.1">
          <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
            transform="translate(48.000000, 44.000000)">
            <path
              d="M19.6876399,20 C19.6047542,19.999927 19.52529,19.9669423 19.4667175,19.9082976 L0.0839056416,0.525743396 C-0.0308734765,0.402566324 -0.0274867013,0.210616527 0.0915663128,0.0915650956 C0.210619327,-0.0274863359 0.402571676,-0.030873066 0.525750385,0.0839045261 L19.9085623,19.4664587 C19.9978567,19.5558631 20.0245499,19.6902301 19.9762091,19.8069762 C19.9278683,19.9237223 19.8139998,19.9998889 19.6876399,20 Z"
              id="Shape" fill="#000000" fill-rule="nonzero"></path>
            <path
              d="M0.312360116,20 C0.186000167,19.9998889 0.0721317315,19.9237223 0.0237909073,19.8069762 C-0.0245499168,19.6902301 0.0021432967,19.5558631 0.0914377445,19.4664587 L19.4742496,0.0839045261 C19.5974283,-0.030873066 19.7893807,-0.0274863359 19.9084337,0.0915650956 C20.0274867,0.210616527 20.0308735,0.402566324 19.9160944,0.525743396 L0.533282488,19.9082976 C0.474709982,19.9669423 0.395245751,19.999927 0.312360116,20 L0.312360116,20 Z"
              id="Shape" fill="#000000" fill-rule="nonzero"></path>
          </g>
        </svg>
      </span>
    </div>
  </div>
</div>
<div class="footbtns" *ngIf="isDateSelected === true">
  <button type="button" class="btn fbtn" (click)="clearSelection()">Clear Status</button>
</div>