<section class="auth-page">
  <div class="auth-side">
    <app-sidebar></app-sidebar>
  </div>
  <div class="sm-visible m-header"><img src="assets/images/white-proxy.png" alt="" width="87"></div>

  <div class="container">
    <div class="actionmsgs">
      <span *ngIf="errorMessage" class="errormsg action-alert">{{errorMessage}}</span>
    </div>
    <div class="sheight auth-block">
      <div class="card">
        <div class="wrap">
          <div class="card-bdr card-title">
            <h5 class="mb-0">Choose New Password</h5>
          </div>
          <form class="mt-30" [formGroup]="resetPwdForm" #userReset="ngForm" (ngSubmit)="reset()">
            <div class="form-group">
              <div class="fitem flex warn-text">
                <strong>Your new password must:</strong>
                <span
                  [ngClass]="!f.password.errors?.required ? (f.password.hasError('minlength') ? 'error' : 'success'): 'warning'">
                  <img src="assets/images/ProxyAssets/UserManagementAssets/{{ !f.password.errors?.required ? f.password.hasError('minlength') ? 'CrossRed-Icon.svg': 'CheckGreen-Icon.svg' : 'Cross-Icon-60.svg'}}"
                    alt="" /> Minimum of 8 characters</span>
                <span
                  [ngClass]="!f.password.errors?.required ? (f.password.errors?.hasOwnProperty('camelCase') ? 'error' : 'success'): 'warning'">
                  <img src="assets/images/ProxyAssets/UserManagementAssets/{{ !f.password.errors?.required ? f.password.errors?.hasOwnProperty('camelCase') ? 'CrossRed-Icon.svg': 'CheckGreen-Icon.svg' : 'Cross-Icon-60.svg'}}"
                    alt="" /> Include both upper and lower case</span>
                <span
                  [ngClass]="!f.password.errors?.required ? (f.password.errors?.hasOwnProperty('specialCharacter') ? 'error' : 'success'): 'warning'">
                  <img src="assets/images/ProxyAssets/UserManagementAssets/{{ !f.password.errors?.required ? f.password.errors?.hasOwnProperty('specialCharacter') ? 'CrossRed-Icon.svg': 'CheckGreen-Icon.svg' : 'Cross-Icon-60.svg'}}"
                    alt="" /> Include 1 symbol - !@£$%^&*()</span>
              </div>
              <div class="fitem pass-field">
                <input [type]="showPwd ? 'text' : 'password'" formControlName="password" required
                  placeholder="Your Password" autocomplete="off"
                  [ngClass]="{'error': userReset.submitted && f.password.errors }" />
                <div class="flex" (click)="showPwd = !showPwd">
                  <img class="display"
                    [src]="!showPwd ? 'assets/images/ProxyAssets/UserManagementAssets/Eye-Icon-30.svg' : 'assets/images/ProxyAssets/UserManagementAssets/Eye-Icon-Active.svg'" />
                </div>
                <label for="" class="error"
                  *ngIf="userReset.submitted && f.password.errors && f.password.errors.required ">Password is required
                </label>
                <label for="" class="error"
                  *ngIf="userReset.submitted && f.password.errors && f.password.errors.pattern ">Password is not as per
                  pattern</label>
              </div>
              <div class="fitem pass-field">
                <input type="password" formControlName="confirm_password" placeholder="Confirm Password"
                  autocomplete="off" [ngClass]="{'error': userReset.submitted && f.confirm_password.errors }" />
                <label for="" class="error"
                  *ngIf="userReset.submitted && f.confirm_password.errors && f.confirm_password.errors.required ">
                  Confirm password is required </label>
                <label for="" class="error"
                  *ngIf="userReset.submitted && f.confirm_password.errors && f.confirm_password.errors.pattern ">Confirm
                  password is not as per pattern</label>
                <label for="" class="error"
                  *ngIf="userReset.submitted && f.confirm_password.errors && f.confirm_password.errors.passwordsNotMatching && !f.confirm_password.errors.pattern">Password
                  and confirm password do not match</label>
              </div>
            </div>
            <div class="btn-group">
              <button class="btn btn-brand" [ngClass]="{'btn-gray': requestLoader}" type="submit"
                [disabled]="requestLoader">Reset Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>