<app-menu class="m-header"></app-menu>

<div class="detail-pg" [class.private_page]="isPrivate"
  *ngIf="permisionList && (permisionList.task_task_view || permisionList.task_task_view_all)">
  <div class="main-full-head ">
    <div class="container">
      <ul class="breadcrumbs-wrap">
        <li class="pos-relative"
          *ngIf="projectStatisticData && projectStatisticData?.project_id && workflowTitle?.length"
          (click)="goToProjectDetails(projectStatisticData?.project_id)">
          <a href="javascript:void(0)">
            <strong *ngIf="projectStatisticData?.project_name">
              {{projectStatisticData?.project_name | titlecase}}
            </strong>
            ({{projectStatisticData?.project_total_workflow}} Workflows)
          </a>
        </li>
        <li class="pos-relative" *ngIf="workflowTitle?.length">
          <app-multiselect-dropdown [isFilter]="false" [isMultiple]="false" [title]="workflowTitle"
            [isDisabled]="!permisionList?.task_associate_to_workflow || task?.task?.status == 3 || task?.task?.status == 4"
            [displaySubItem]="workFlowList" searchPlaceholder="Search Workflows"
            (search)="$event && getLists('workflows', $event)" [canEmpty]="true" (allClear)="clearPW(true)"
            (selectionChanged)="onFilterSelected($event, 'workflows')">
          </app-multiselect-dropdown>
        </li>
        <li class="pos-relative" *ngIf="!workflowTitle?.length">
          No Workflow Associated
          <app-multiselect-dropdown [isFilter]="false" [isMultiple]="false" [title]="workflowTitle"
            [isDisabled]="!permisionList?.task_associate_to_workflow || task?.task?.status == 3 || task?.task?.status == 4"
            [displaySubItem]="workFlowList" searchPlaceholder="Search Workflows"
            (search)="$event && getLists('workflows', $event)" [canEmpty]="true" (allClear)="clearPW(true)"
            (selectionChanged)="onFilterSelected($event, 'workflows')" class="rbtn">
          </app-multiselect-dropdown>
        </li>
      </ul>
    </div>
    <div class="container">
      <div class="task-header-wrap flex">
        <div class="prty-wrap">
          <app-importance
            [isDisabled]="!permisionList?.task_set_importance || task?.task?.status == 3 || task?.task?.status == 4"
            [checkedImportance]="importance" (selectedImportance)="updateTask('importance', $event)">
          </app-importance>
        </div>
        <div class="title-row">
          <div class="edit_name active">
            <h2 class="test-class" *ngIf="!showTaskNameEdit"
              [ngStyle]="permisionList?.task_task_edit_name && task?.task?.status != 3 && task?.task?.status != 4 && {'cursor': 'pointer'}"
              [title]="permisionList?.task_task_edit_name && task?.task?.status != 3 && task?.task?.status != 4 ? 'Double click to edit' : task?.task?.name"
              (dblclick)="permisionList?.task_task_edit_name && task?.task?.status != 3 && task?.task?.status != 4 && showTaskNameInput()">
              <img src="assets/images/Private-Lock.png" class="m-0" alt="" />
              {{ task?.task?.name }}
            </h2>
            <div class="input-wrap"
              *ngIf="showTaskNameEdit && permisionList?.task_task_edit_name && task?.task?.status != 3 && task?.task?.status != 4">
              <input type="text" placeholder="Enter task name" [(ngModel)]="taskName" (keyup.enter)="reNameTaskTitle()"
                class="reNameInput" />
              <a href="javascript:void(0);" class="close" (click)="taskName = ''"><img
                  src="assets/images/btn-close-icon.png" alt=""></a>
            </div>
          </div>
          <div class="title-btm-wrap flex ai-center">
            <div class="due-startdate-wrap">
              <div class="due-date pos-relative">
                <a class="date-btn" href="javascript:void(0);"
                  (click)="showCalendar = []; showCalendar['due'] = !showCalendar['due']"
                  [ngClass]="{'disable': !permisionList?.task_set_due_date || task?.task?.status == 3 || task?.task?.status == 4}"><strong>Due:</strong>
                  {{ task?.task?.due_date ?
                  momentObj(task?.task?.due_date).format('MM/DD/YYYY') : ''
                  }}
                </a>
                <span
                  *ngIf="showCalendar['due'] && permisionList?.task_set_due_date && task?.task?.status != 3 && task?.task?.status != 4">
                  <bs-datepicker-inline [(bsValue)]="dueDate" (bsValueChange)="updateTask('dueDate', $event)"
                    [minDate]="startDate" [bsConfig]=" { showWeekNumbers: false }">
                  </bs-datepicker-inline>
                </span>
              </div>
              <div class="start-date pos-relative">
                <a class="date-btn" href="javascript:void(0);"
                  [ngClass]="{'disable': task?.task?.status == 3 || task?.task?.status == 4}"
                  (click)="showCalendar = []; showCalendar['start'] = !showCalendar['start']">
                  <strong>Start: </strong>
                  {{ task?.task?.start_date ?
                  momentObj(task?.task?.start_date).format('MM/DD/YYYY') : '--'
                  }}
                </a>
                <span *ngIf="showCalendar['start'] && task?.task?.status != 3 && task?.task?.status != 4">
                  <bs-datepicker-inline [(bsValue)]="startDate" (bsValueChange)="updateTask('startDate', $event)"
                    [maxDate]="dueDate" [bsConfig]=" { showWeekNumbers: false }">
                  </bs-datepicker-inline>
                </span>
              </div>
            </div>
            <div class="btn-switch-wrap">
              <input type="checkbox" class="btn-switch" id="switch" [(ngModel)]="isPrivate"
                (ngModelChange)="taskConfirmation($event)"
                [disabled]="task?.task?.status == 3 || task?.task?.status == 4">
              <label for="switch" *ngIf="isPrivate"> Private</label>
              <label for="switch" *ngIf="!isPrivate"> Public</label>
            </div>
          </div>
        </div>
        <div class="btn-wrap flex">
          <div class="user-wrap pos-relative md-filter">
            <div class="profile-wrap fig-lg">
              <figure *ngIf="assignedTo && assignedTo.first_name"
                title="{{ assignedTo?.first_name + ' ' + assignedTo?.last_name }}">
                <img [src]="assignedTo.user_avatar_thumb" alt="" *ngIf="assignedTo?.user_avatar_thumb">
                <span class="no-img" *ngIf="!assignedTo?.user_avatar_thumb">
                  {{sharedService.displayInitial(assignedTo?.first_name,assignedTo?.last_name)}}
                </span>
              </figure>
              <a class="add-user-btn" href="javascript:void(0);"
                *ngIf="permisionList?.task_reassign_task && task?.task?.status != 3 && task?.task?.status != 4"
                (click)="showUserAssignedFilter = !showUserAssignedFilter">+</a>
            </div>
            <div *ngIf="showUserAssignedFilter">
              <div class="nav-dropdown mt-10">
                <input type="text" class="search_input" placeholder="Search User" (keyup)="getLists('user', $event)">
                <perfect-scrollbar style="max-width: 100%; max-height: 150px;">
                  <div class="check-list">
                    <span class="fitem-check" *ngFor="let item of usersList | orderBy">
                      <input id="dropcheck-{{item.id}}" type="checkbox" class="fitem-ck-input"
                        [checked]="item?.id === task?.task?.assigned_to?.id"
                        [disabled]="item?.id === task?.task?.assigned_to?.id"
                        (change)="changeAssignUser($event, item)" />
                      <label for="dropcheck-{{item.id}}" class="fitem-ck-txt">
                        {{ item.name }}
                      </label>
                    </span>
                    <span class="fitem-check" *ngIf="!usersList?.length">No record found</span>
                  </div>
                </perfect-scrollbar>
              </div>
            </div>
          </div>
          <ul class="btn-group">
            <li class="starred" [ngClass]="{'not-allowed': task?.task?.status == 3 || task?.task?.status == 4}"
              (click)="task?.task?.status != 3 && task?.task?.status != 4 && makeTaskFavourite(task.total_favorite_task, task.id, !task.is_favorite)">
              <a class="btn-box tooltip" href="javascript:void(0);"
                [ngClass]="{'not-allowed': task?.task?.status == 3 || task?.task?.status == 4}" onclick="this.blur();">
                <span class="tt_text md_tt_text" *ngIf="task.is_favorite">Unstar</span>
                <figure *ngIf="task.is_favorite">
                  <img src="assets/images/Star.png" alt="" />
                </figure>
                <span class="tt_text" *ngIf="!task.is_favorite">Star</span>
                <figure *ngIf="!task.is_favorite">
                  <img src="assets/images/Un-Star.png" alt="" />
                </figure>
              </a>
            </li>
            <li class="sm-hidden"
              [ngClass]="{'not-allowed': !task?.task?.workflow || task?.task?.status == 3 || task?.task?.status == 4 || projectStatisticData?.workflow_total_task < 2}"
              (click)="task?.task?.workflow && task?.task?.status != 3 && task?.task?.status != 4 && projectStatisticData?.workflow_total_task > 1 && openUploader('taskPrior')">
              <a class="btn-box tooltip" onclick="this.blur();"
                [ngClass]="{'not-allowed': !task?.task?.workflow || task?.task?.status == 3 || task?.task?.status == 4 || projectStatisticData?.workflow_total_task < 2}"
                href="javascript:void(0);">
                <span class="tt_text">Dependencies</span>
                <img src="assets/images/dependencies-icon-b.svg" alt="">
              </a>
            </li>
            <li class="sm-hidden"
              (click)="permisionList?.task_send_ping && task?.task?.status != 3 && task?.task?.status != 4 && sendNotification()"
              [ngClass]="{'not-allowed': !permisionList?.task_send_ping || task?.task?.status == 3 || task?.task?.status == 4}">
              <a [ngClass]="{'not-allowed': !permisionList?.task_send_ping || task?.task?.status == 3 || task?.task?.status == 4}"
                class="btn-box tooltip" href="javascript:void(0);" onclick="this.blur();">
                <span class="tt_text md_tt_text">Ping</span>
                <img src="assets/images/send-icon-b-lg.svg" alt="">
              </a>
            </li>
            <li class="sm-hidden" (click)="updateTask('status', 3)"
              *ngIf="permisionList?.task_mark_as_completed && task?.task?.status != 3 && task?.task?.status != 4">
              <a onclick="this.blur();" class="btn-box tooltip" href="javascript:void(0);">
                <span class="tt_text">Mark as Done</span>
                <img src="assets/images/check-icon-b.svg" alt="">
              </a>
            </li>
            <li class="pos-relative action-dropdown" (click)="deleteToggle = !deleteToggle"
              *ngIf="!isMobile && permisionList?.task_task_delete && task?.task?.status != 4">
              <a class="btn-box text-left" href="javascript:void(0);">
                <img src="assets/images/more-horizontal.svg" alt="">
              </a>
              <div class="nav-dropdown sm-filter mt-10 r-0" *ngIf="deleteToggle">
                <button type="button" class="no-btn" (click)="updateTask('status', 4)">Archive</button>
              </div>
            </li>
            <li class="pos-relative action-dropdown" (click)="deleteToggle = !deleteToggle" *ngIf="isMobile">
              <a class="btn-box text-left" href="javascript:void(0);">
                <img src="assets/images/more-horizontal.svg" alt="">
              </a>
              <div class="nav-dropdown sm-filter mt-10 r-0" *ngIf="deleteToggle">
                <!-- <button type="button" class="no-btn sm-visible"
                  [ngClass]="{'sm-disable': task?.task?.status == 3 || task?.task?.status == 4}"
                  (click)="task?.task?.status != 3 && task?.task?.status != 4 && makeTaskFavourite(task.total_favorite_task, task.id, !task.is_favorite);">
                  <span *ngIf="task.is_favorite">Unstar</span>
                  <span *ngIf="!task.is_favorite">Star</span>
                </button> -->
                <button type="button" class="no-btn sm-visible"
                  [ngClass]="{'sm-disable': !task?.task?.workflow || task?.task?.status == 3 || task?.task?.status == 4}"
                  (click)="task?.task?.workflow && task?.task?.status != 3 && task?.task?.status != 4 && openUploader('taskPrior')">
                  Add Dependencies
                </button>
                <button type="button" class="no-btn sm-visible"
                  [ngClass]="{'sm-disable': !permisionList?.task_send_ping || task?.task?.status == 3 || task?.task?.status == 4}"
                  (click)="permisionList?.task_send_ping && task?.task?.status != 3 && task?.task?.status != 4 && sendNotification()">
                  Ping All Assignee
                </button>
                <button type="button" class="no-btn sm-visible"
                  [ngClass]="{'sm-disable': !permisionList?.task_mark_as_completed || task?.task?.status == 3 || task?.task?.status == 4}"
                  (click)="permisionList?.task_mark_as_completed && task?.task?.status != 3 && task?.task?.status != 4 && updateTask('status', 3)">
                  Mark Complete
                </button>
                <button type="button" class="no-btn"
                  [ngClass]="{'sm-disable': !permisionList?.task_task_delete || task?.task?.status == 4}"
                  (click)="permisionList?.task_task_delete && task?.task?.status != 4 && updateTask('status', 4)">
                  Archive
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="main-filter-head">
    <div class="container">
      <div class="flex filter-group-wrap ai-center">
        <div class="form-group flex">
          <div class="ddown-item">
            <span class="sm-head" [class.hidden]="!isDropdownOpened">
              <a href="javascript:void(0)" class="flex-start" (click)="isDropdownOpened=false;">
                <img src="assets/images/select-icons.png" alt="" class="ml-0 mr-10 r90">Back
              </a>
            </span>
            <label>Assigned to Group(s)</label>
            <app-multiselect-dropdown [isFilter]="false" [title]="groupTitle" [displaySubItem]="workGroupList"
              [isDisabled]="task?.task?.status == 3 || task?.task?.status == 4" searchPlaceholder="Search Groups"
              (search)="$event && getLists('group', $event)" (selectionChanged)="onFilterSelected($event, 'group')"
              (isOpened)="isOpened($event)">
            </app-multiselect-dropdown>
          </div>
          <div class="ddown-item">
            <span class="sm-head" [class.hidden]="!isDropdownOpened">
              <a href="javascript:void(0)" class="flex-start" (click)="isDropdownOpened=false;">
                <img src="assets/images/select-icons.png" alt="" class="ml-0 mr-10 r90">Back
              </a>
            </span>
            <label for="">Tags: </label>
            <app-multiselect-dropdown [isTag]="true" [isFilter]="false" [title]="tagTitle" [displaySubItem]="tagsList"
              [isDisabled]="task?.task?.status == 3 || task?.task?.status == 4" searchPlaceholder="Search Tags"
              (search)="$event && getLists('tag', $event)" (selectionChanged)="onFilterSelected($event, 'tag')"
              (isOpened)="isOpened($event)">
            </app-multiselect-dropdown>
          </div>
          <div class="ddown-item privilege_filter">
            <span class="sm-head" [class.hidden]="!isDropdownOpened">
              <a href="javascript:void(0)" class="flex-start" (click)="isDropdownOpened=false;">
                <img src="assets/images/select-icons.png" alt="" class="ml-0 mr-10 r90">Back
              </a>
            </span>
            <label for="">Privilege: </label>
            <app-select-privilege [checkedPrivilege]="privilege" (selectedPrivilege)="updateTask('privilege', $event)"
              [isDisabled]="!permisionList?.task_create_edit_privilege_selector || task?.task?.status == 3 || task?.task?.status == 4"
              (isOpened)="isOpened($event)">
            </app-select-privilege>
          </div>
          <div class="ddown-item rbtn">
            <span class="sm-head" [class.hidden]="!isDropdownOpened">
              <a href="javascript:void(0)" class="flex-start" (click)="isDropdownOpened=false;">
                <img src="assets/images/select-icons.png" alt="" class="ml-0 mr-10 r90">Back
              </a>
            </span>
            <label for="">Status: </label>
            <app-multiselect-dropdown [isFilter]="false" [isMultiple]="false" [title]="statusTitle"
              [displaySubItem]="statusList" [isSearch]="false" (selectionChanged)="onFilterSelected($event, 'status')"
              [isDisabled]="task?.task?.status == 4 || (task?.task?.status == 3 && !permisionList?.task_reopen_task)"
              (isOpened)="isOpened($event)">
            </app-multiselect-dropdown>
          </div>
        </div>

        <div class="filter-right">
          <div class="set-progress">
            <ng5-slider [(value)]="percentage" [options]="sliderOptions" (userChangeEnd)="updateCompletition($event)">
            </ng5-slider>
          </div>
        </div>
      </div>
      <div class="flex filter-group-custom-fields ai-center mt-10">

        <div class=" form-group flex">
          <div class="ddown-item" *ngFor="let custom_field of this.task.custom_fields">
            <label for="">{{custom_field.label}}</label>
            <div class="edit_name active">
              <label class="test-class" *ngIf="!custom_field.showEdit"
                [ngStyle]="permisionList?.task_task_edit_name && task?.task?.status != 3 && task?.task?.status != 4 && {'cursor': 'pointer'}"
                [title]="permisionList?.task_task_edit_name && task?.task?.status != 3 && task?.task?.status != 4 ? 'Double click to edit' : task?.task?.name"
                (dblclick)="permisionList?.task_task_edit_name && task?.task?.status != 3 && task?.task?.status != 4 && showEditForCustomField(custom_field)">
                {{ custom_field.value || '--' }}
              </label>
              <div class="input-wrap"
                *ngIf="custom_field.showEdit && permisionList?.task_task_edit_name && task?.task?.status != 3 && task?.task?.status != 4">
                <input [type]="custom_field.controlType" [placeholder]="custom_field.label"
                  [(ngModel)]="custom_field.valueToEdit" (keyup.enter)="updateCustomField()"
                  class="editCustomFieldInput" />
                <a href="javascript:void(0);" class="close" (click)="custom_field.valueToEdit= ''"><img
                    src="assets/images/btn-close-icon.png" alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex filter-group-custom-fields ai-center mt-10">
        <div class=" form-group flex">
          <div class="ddown-item" *ngFor="let custom_field of this.task.global_custom_fields">
            <label for="">{{custom_field.label}}</label>
            <div class="edit_name active">
              <label class="test-class" *ngIf="!custom_field.showEdit"
                [ngStyle]="permisionList?.task_task_edit_name && task?.task?.status != 3 && task?.task?.status != 4 && {'cursor': 'pointer'}"
                [title]="permisionList?.task_task_edit_name && task?.task?.status != 3 && task?.task?.status != 4 ? 'Double click to edit' : task?.task?.name"
                (dblclick)="permisionList?.task_task_edit_name && task?.task?.status != 3 && task?.task?.status != 4 && showEditForGlobalCustomField(custom_field)">
                {{ custom_field.value || '--' }}
              </label>
              <div class="input-wrap"
                *ngIf="custom_field.showEdit && permisionList?.task_task_edit_name && task?.task?.status != 3 && task?.task?.status != 4">
                <input [type]="custom_field.controlType" [placeholder]="custom_field.label"
                  [(ngModel)]="custom_field.valueToEdit" (keyup.enter)="updateGlobalCustomField(custom_field)"
                  class="editCustomFieldInput" />
                <a href="javascript:void(0);" class="close" (click)="custom_field.valueToEdit= ''"><img
                    src="assets/images/btn-close-icon.png" alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sm-block-row ">
    <div class="container">
      <app-notifier></app-notifier>
      <span class="bklink">
        <a href="javascript:void(0);" (click)="goBack()" class="flex flex-start ai-center primary_link">
          <img class="r90 m-0" src="assets/images/Chevron-Icon.svg" alt="" /> &nbsp; <b class="m-0">Back</b>
        </a>
      </span>
      <div class="aside-area">
        <div class="mtabs">
          <a href="javascript:void(0)" [class.active]="activeTab === 'discussions'"
            (click)="activeTab = 'discussions'">Discussions</a>
          <a href="javascript:void(0)" [class.active]="activeTab === 'documents'"
            (click)="activeTab = 'documents'">documents</a>
          <a href="javascript:void(0)" [class.active]="activeTab === 'trail'" (click)="activeTab = 'trail'">Audit
            Trail</a>
        </div>
        <app-discussions class="aside-full-block" modalType="task" [modalId]="taskId" [detail]="task"
          [message_inbound_email]="task?.task?.message_inbound_email" (refresh)="refreshPage()"
          (softRefresh)="softRefresh($event)" (onSuccess)="onSuccess($event)"
          [class.display]="activeTab === 'discussions'">
        </app-discussions>
        <aside>
          <app-documents modalType="task" [modalId]="taskId" [class.display]="activeTab === 'documents'"
            [attachments]="task?.task?.attachments" [detail]="task?.task"
            (updateModal)="updateTask('documents', $event)" (updateTrails)="updateTrails()">
          </app-documents>
          <app-audit-trail-history modalType="task" [modalId]="taskId" [class.display]="activeTab === 'trail'">
          </app-audit-trail-history>
        </aside>
      </div>
    </div>
  </div>
  <div class="modal transition" [ngClass]="{'in': showModal?.deleteDoc}">
    <app-confirm-modal [message1]="deleteObj?.message1" [message2]="deleteObj?.message2" cancelButtonText="Cancel"
      [okButtonText]="deleteObj?.buttonText" (onClose)="confirmationDone($event)"></app-confirm-modal>
  </div>

  <div class="modal transition" [ngClass]="{'in': showModal?.reAssignUser}">
    <app-confirm-modal message1="Re-Assign User"
      message2="Task can only be assigned to one user. {{ !task?.task?.assigned_to ? assignToUser?.first_name + ' ' + assignToUser?.last_name + ' will be the new assignee' : 'If you continue, ' +  task?.task?.assigned_to?.first_name + ' ' + task?.task?.assigned_to?.last_name + ' will no longer be assigned to this task and ' + assignToUser?.first_name + ' ' + assignToUser?.last_name + ' will be the new assignee'}}"
      cancelButtonText="Cancel" okButtonText="Re-Assign" (onClose)="reAssignUser($event)"></app-confirm-modal>
  </div>

  <div class="modal transition in task-prior" [ngClass]="{'in': showModal?.taskPrior}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content alert-cont">
        <div class="modal-header text-center">
          <h5>Add Task Dependencies</h5>
          <a href="javascript:void(0);" class="close" (click)="showModal.taskPrior = false">esc</a>
        </div>
        <div class="modal-body">
          <div class="form-group ">
            <app-task-prior [workflow]="task?.task?.workflow" [afterTask]="afterTask" [priorTask]="priorTask"
              [mainTask]="task?.task">
            </app-task-prior>
            <div class="btn-group text-right">
              <button type="button" class="btn btn-bdr btn-lg" (click)="showModal.taskPrior = false">Cancel</button>
              <button type="button" class="btn btn-lg" (click)="getTaskPrior()">
                Add Dependencies
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal transition" [ngClass]="{'in': showModal?.isBePrivate}">
    <app-confirm-modal message1="Are you sure?" message2="{{message}}" cancelButtonText="Cancel"
      okButtonText="{{buttonText}}" (onClose)="privateConfirm($event)">
    </app-confirm-modal>
  </div>

  <div class="modal transition" [ngClass]="{'in': showModal?.isFavorite}" *ngIf="task?.total_favorite_task >=25">
    <app-favourite-task [taskName]="task?.task?.name" (onClose)="closeFavorite($event)"></app-favourite-task>
  </div>
</div>

<div class="block-row pg-not-found"
  *ngIf="permisionList && !permisionList.task_task_view && !permisionList.task_task_view_all">
  <div class="sm-container">
    <div class="pg-type pos-relative">
      <img src="assets/images/not-found-group.svg" alt="">
    </div>
    <div class="not-found-msg flex mt-30">
      <span><strong> Access Denied!</strong></span>
      <span class="mt-20 text-center"> You don't have permission to view this page.</span>
    </div>
  </div>
</div>
