<div class="auth-page">
	<div class="auth-aside">
		<a href="javascript:void(0)"><img src="assets/images/white-proxy.png" alt="" width="87"></a>
		<h3>Join a Team</h3>
		<h6>If you are here because your company uses proxy and don’t currently have an account, ask your General
			Counsel to invite you to the platform.</h6>
	</div>
	<div class="sm-visible m-header"><img src="assets/images/white-proxy.png" alt="" width="87"></div>

	<div class="container">
		<div class="actionmsgs">
			<span *ngIf="errorMessage" class="errormsg action-alert">{{errorMessage}}</span>
		</div>
		<div class="sheight auth-block">
			<div class="card">
				<div class="wrap">
					<div class="card-bdr card-title">
						<h5>Password Recovery</h5>
					</div>
					<h6>Enter your email address, and we’ll send you a link to reset your password.</h6>
					<form [formGroup]="recoveryForm" #userRecovery="ngForm" (ngSubmit)="forgot()">
						<div class="form-group">
							<div class="fitem">
								<input type="email" placeholder="Your Email Address" class="lg-field" formControlName="email"
									[ngClass]="{'error': userRecovery.submitted && f.email.errors }">
								<label for="" class="error"
									*ngIf="userRecovery.submitted && f.email.errors && f.email.errors.required ">Email is required
								</label>
								<label for="" class="error"
									*ngIf="userRecovery.submitted && f.email.errors && f.email.errors.email">Email must be a valid email
									address </label>
							</div>
						</div>
						<div class="btn-group flex ai-center">
							<a class="primary-link m-0" routerLink="/login">Back to Login</a>
							<button type="submit" class="btn btn-lg" [ngClass]="{'btn-gray': requestLoader}"
								[disabled]="requestLoader">Recover Password</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>