<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Proxy</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <link rel="stylesheet" href="typo.component.css" type="text/css" />
</head>
<body>
<div class="block-row">
    <div class="container ">
      <div class="card">
        <div class="card-title">
          <h1>Heading</h1>
        </div>
        <div class="card-body">
          <h1>H1 size 24 title <small>Small title with header</small></h1>
          <h2>H2 size 22 title <small>Small title with header</small></h2>
          <h3>H3 size 20 title <small>Small title with header</small></h3>
          <h4>H4 size 28 title <small>Small title with header</small></h4>
          <h5>H5 size 16 title <small>Small title with header</small></h5>
          <h6>H6 size 14 title <small>Small title with header</small></h6>
        </div>
      </div>
      <div class="card">
        <div class="card-title">
          <h1>Buttons</h1>
        </div>
        <div class="card-body">
          <h2>Button filled</h2>
          <div class="btn-group">
            <button type="button" class="btn">Default</button>
            <button type="button" class="btn btn-brand">Primary</button>
            <button type="button" class="btn btn-gray">Disable</button>
  
            <button type="button" class="btn btn-brand btn-sm">sm-btn</button>
            <button type="button" class="btn btn-brand btn-md">md-btn</button>
            <button type="button" class="btn btn-brand btn-lg">lg-btn</button>
            <!-- <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-danger">Danger</button> -->
            <!-- <button type="button" class="btn btn-warning">Warning</button> -->
          </div>
          <h2>Button outline</h2>
          <div class="btn-group"> 
            <button type="button" class="btn btn-bdr">Default</button>
            <button type="button" class="btn btn-bdr">Primary</button>
            <button type="button" class="btn btn-warning btn-bdr">Warning</button>
            <button type="button" class="btn btn-bdr btn-sm">sm-btn</button>
            <button type="button" class="btn btn-bdr btn-md">md-btn</button>
            <button type="button" class="btn btn-bdr btn-lg">lg-btn</button>
            <!-- <button type="button" class="btn btn-success btn-bdr">Success</button>
            <button type="button" class="btn btn-danger btn-bdr">Danger</button> -->
            <!-- <button type="button" class="btn btn-gray btn-bdr">Info</button> -->
            
          </div>
          <!-- <h3>Button text</h3>
          <div class="btn-group">          
            <button type="button" class="btn-txt btn-bdr">Default</button>
            <button type="button" class="btn-txt btn-brand btn-bdr">Primary</button>
            <button type="button" class="btn-txt btn-success btn-bdr">Success</button>
            <button type="button" class="btn-txt btn-danger btn-bdr">Danger</button>
            <button type="button" class="btn-txt btn-gray btn-bdr">Info</button>
            <button type="button" class="btn-txt btn-warning btn-bdr">Warning</button>
          </div>        
        </div>       -->
      </div>         
    </div>
    <div class="card">
        <!-- <div class="card-title">
          <h1>listing</h1>
        </div> -->
        <div class="card-body">
            <!-- <ol>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
              <li>Morbi ac justo dictum, vestibulum orci sit amet, euismod neque.</li>
              <li>In consectetur est eget pellentesque lobortis.</li>
              <li>Suspendisse suscipit mauris eu libero varius sollicitudin.</li>
            </ol> -->
            <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit. Qui aut, dolore eaque sint tenetur fugit ut quas maiores. Veritatis omnis numquam quasi cumque recusandae fugiat expedita, maxime aspernatur vero id.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui aut, dolore eaque sint tenetur fugit ut quas maiores. Veritatis omnis numquam quasi cumque recusandae fugiat expedita, maxime aspernatur vero id.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat omnis optio, sapiente eos quos enim iure dolorum nesciunt laboriosam tempore! Incidunt eos, doloribus. Vero esse soluta ad culpa, excepturi minus!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia deserunt iure debitis modi rem tenetur molestias iusto error <em>asperiores adipisci enim doloremque quibusdam, labore animi, omnis magnam quisquam ea! Itaque impedit, earum laborum. Explicabo adipisci asperiores aliquid inventore, blanditiis eius.</em></p>
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia deserunt iure debitis modi rem tenetur molestias iusto error <em>asperiores adipisci enim doloremque quibusdam, labore animi, omnis magnam quisquam ea! Itaque impedit, earum laborum. Explicabo adipisci asperiores aliquid inventore, blanditiis eius.</em></p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem repellat, impedit eaque doloremque eveniet est ratione, animi nemo voluptates nihil perspiciatis minima ducimus! Reprehenderit nam nulla minima eum, debitis itaque numquam, quae laudantium suscipit officia inventore non autem, eaque tempora ipsa corrupti. Facere velit quae deserunt distinctio delectus vitae consequuntur dolorem beatae architecto nam, porro eos, asperiores in quo quod?
            </blockquote>
        </div>
      </div>
    <div class="card">        
      <div class="card-title card-bdr">
        <h5>card</h5>
      </div>
      <div class="card-title">
        <p class="font-size-base-sm">Sub text description</p>
      </div>       
      <div class="card-body">
        <span class="errormsg">Error message description.</span>
        <span class="successmsg">Success message description.</span>
        <div class="form-group">
          <div class="fitem">
            <label for="">Input Empty<sup>*</sup></label>
            <input type="text" placeholder="Input empty">
          </div>
          <div class="fitem">
            <label for="">Input Disabled</label>
            <input type="text" disabled="true" value="test"  placeholder="Input disabled">
            <label class="validate-message">Success Message will be diplayed here...</label>
          </div>
          <div class="fitem">
            <label for="">Input test</label>
            <input type="text" value="test"  placeholder="Input test">
            <label class="validate-message">Success Message..</label>
          </div>
          <div class="fitem error">
            <label for="" class="error">Input Error</label>
            <input type="text">
            <label for="" class="error">Error Message will be diplayed here...</label>
          </div>
          <div class="fitem half-fitem">
            <div class="fitem half-fitem">
              <label for="">Input label</label>
              <input type="text">
            </div>
​
            <div class="fitem  half-fitem">
              <label>Selected Empty</label>
              <select>
                <option>Select Empty</option>
                <option>Lorem ipsum dolor,</option>
                <option>Lorem ipsum </option>
                <option>Lorem doloroption>
              </select>
            </div>
            <div class="fitem half-fitem">
              <label for="">Input label</label>
              <input type="text">
            </div>
​
            <div class="fitem half-fitem">
              <label for="">Input label</label>
              <input type="text">
            </div>
          </div>
          <div class="fitem half-fitem">
            <div class="fitem half-fitem">
              <label for="">Input label</label>
              <input type="text">
            </div>
            <div class="fitem half-fitem">
              <label for="">Input label</label>
              <input type="text">
            </div>
            <div class="fitem half-fitem">
              <label for="">Input label</label>
              <input type="text">
            </div>
          </div>
          <div class="fitem half-fitem">
            <div class="fitem half-fitem">
              <label for="">Input label</label>
              <input type="text">
            </div>
            <div class="fitem half-fitem">
              <label for="">Input label</label>
              <input type="text">
            </div>
          </div>
          <div class="fitem half-fitem">
            <div class="fitem half-fitem inline-check-list">
              <div class="fitem-check">
                <input type="radio" class="fitem-ck-input" id="radio1" name="test">
                <label for="radio1" class="fitem-ck-txt">This is radio btn</label>
              </div>
              <div class="fitem-check">
                <input type="radio" class="fitem-ck-input" id="radio2" name="test">
                <label for="radio2" class="fitem-ck-txt">This is radio btn</label>
              </div>
            </div>
            <div class="fitem half-fitem inline-check-list">
              <div class="fitem-check">
                <input type="checkbox" class="fitem-ck-input" id="checkbox" name="checkboxs">
                <label for="checkbox" class="fitem-ck-txt">This is checkbox btn</label>
              </div>
              <div class="fitem-check">
                <input type="checkbox" class="fitem-ck-input" id="checkbox1" name="checkboxsa">
                <label for="checkbox1" class="fitem-ck-txt">This is checkbox btn</label>
              </div>
            </div>
          </div>
          <div class="fitem">
            <label>Selected Empty</label>
            <select>
              <option>Select Empty</option>
              <option>Lorem ipsum dolor,</option>
              <option>Lorem ipsum </option>
              <option>Lorem doloroption>
            </select>
          </div>
        </div>
      </div>
    </div>
  ​
    <div class="card">
        <div class="card-title">
          <h1>Tables</h1>
          <h6>Subtitle</h6>
        </div>
        <div class="">
          <table class="table">
            <thead>
              <tr>                     
                <th><span>First Name &nbsp;<a href="javascript:void(0)"><img src="assets/images/ProxyAssets/UserManagementAssets/Sort-Icon.svg" alt="sort" /></a></span></th>
                <th><span>Last Name &nbsp;<a href="javascript:void(0)"><img src="assets/images/ProxyAssets/UserManagementAssets/Sort-Icon.svg" alt="sort" /></a></span></th>
                <th><span>Title&nbsp;<a href="javascript:void(0)"><img src="assets/images/ProxyAssets/UserManagementAssets/Sort-Icon.svg" alt="sort" /></a></span></th>
                <th><span>Permissions &nbsp;<a href="javascript:void(0)"><img src="assets/images/ProxyAssets/UserManagementAssets/Filter-Icon.svg" alt="sort" /></a><a href="javascript:void(0)"><img src="assets/images/ProxyAssets/UserManagementAssets/Settings-Icon.svg" alt="sort" /></a></span></th>
                <th><span>Group &nbsp;<a href="javascript:void(0)"><img src="assets/images/ProxyAssets/UserManagementAssets/Settings-Icon.svg" alt="sort" /></a></span></th>
                <th width="100px">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>sukhwindersingh</td>
                <td>Cawley</td>
                <td class="opacity6">Legal Department</td>
                <td class="opacity6">General Counsel</td>
                <td class="opacity6">Chicago, +12</td>
                <td class="opacity-hidden actions"><span class="flex-start"><a href="">Resend</a><a href="" class="bin"><img src="assets/images/ProxyAssets/UserManagementAssets/Bin-Icon.svg" alt="trash"/></a></span></td>
              </tr>
              <tr>
                <td>Benjamin</td>
                <td>Cawley</td>
                <td class="opacity6">Legal Department</td>
                <td class="opacity6">General Counsel</td>
                <td class="opacity6">Chicago, +12</td>
                <td class="opacity-hidden actions"><span class="flex-start"><a href="">Resend</a><a href="" class="bin"><img src="assets/images/ProxyAssets/UserManagementAssets/Bin-Icon.svg" alt="trash"/></a></span></td>
              </tr>
              <tr>
                <td>Benjamin</td>
                <td>Cawley</td>
                <td class="opacity6">Legal Department</td>
                <td class="opacity6">General Counsel</td>
                <td class="opacity6">Los Angeles, +12</td>
                <td class="opacity-hidden actions"><span class="flex-start"><a href="">Resend</a><a href="" class="bin"><img src="assets/images/ProxyAssets/UserManagementAssets/Bin-Icon.svg" alt="trash"/></a></span></td>
              </tr>             
            </tbody>
          </table>
        </div>
      </div>
    <div class="card">
      <div class="card-body">
        <h3>Link text</h3>
        <a href="" class="primary-link">Primary Link</a>
        <a href="" class="secondary-link">Secondary Link</a>
      </div>
    </div>
    
    <div class="card">
      <div class="card-body">
        <h3>Tabs</h3>
        <div class="tabs">
          <a href="" class="tname active">Tab 1</a>
          <a href="" class="tname">Tab 2</a>
        </div>        
      </div>
    </div>
  </div>
  <div class="sm-block-row ">
    <div class="container">
    <div class="card-row flex">
      <div class="card">
        <div class="card-title card-bdr">
          <h5>card</h5>
        </div>
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, qui porro quaerat nesciunt obcaecati sit perferendis tempora ea harum repellendus quae excepturi. Quidem quia et necessitatibus quas exercitationem. Consectetur, atque.</p>
          <div class="list_tags selected">
            <span class="tag">
              Tag name
              <a class="plus-close" href="javascript:void(0)"><img alt="" src="/src/assets/images/btn-close-icon.png"></a>
            </span>
          </div>
          <div class="list_tags">
            <span class="tag">
              Tag name
              <a class="plus-close" href="javascript:void(0)"><img alt="" src="/src/assets/images/btn-close-icon.png"></a>
            </span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-title">
          <h5>card</h5>
        </div>
        <div class="card-body">
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, qui porro quaerat nesciunt obcaecati sit perferendis tempora ea harum repellendus quae excepturi. Quidem quia et necessitatibus quas exercitationem. Consectetur, atque.</p>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="sm-block-row ">
    <div class="container">
    <div class="card-row flex">
      <div class="card">
        <div class="card-title">
          <h5>card</h5>
        </div>
        <div class="card-body">
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, qui porro quaerat nesciunt obcaecati sit perferendis tempora ea harum repellendus quae excepturi. Quidem quia et necessitatibus quas exercitationem. Consectetur, atque.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-title">
          <h5>card</h5>
        </div>
        <div class="card-body">
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, qui porro quaerat nesciunt obcaecati sit perferendis tempora ea harum repellendus quae excepturi. Quidem quia et necessitatibus quas exercitationem. Consectetur, atque.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-title card-bdr">
          <h5>card</h5>
        </div>
        <div class="card-body">
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, qui porro quaerat nesciunt obcaecati sit perferendis tempora ea harum repellendus quae excepturi. Quidem quia et necessitatibus quas exercitationem. Consectetur, atque.</p>
        </div>     
      </div>
      </div>
    </div>
  </div>
  
<!--Create task starts here-->

<div class="block-row">
  <div class="container">
    <div class="card-row inline-row-col flex">
      <div class="inline-col-7">
        <div class="card">
          <div class="card-title">
            <h5>Create New Task</h5>
          </div>
          <div class="card-body">
            <div class="form-group">
              <div class="fitem">
                <label>Task Name<sup>*</sup></label>
                <input type="text" class="" placeholder="Name your Task" />
              </div>
              <div class="fitem">
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="inline-col-3">

      </div>
    </div>
  </div>
</div>  
<!--Create task ends here-->

  <div class="model transition ">
    <div class="model-contain alert-cont">
      <div class="model-header text-center">
        <h1>Delete Announcement </h1>
        <a href="javascript:void(0);" class="icon-close" ><img src="assets/images/btn-close.png" alt=""></a>
      </div>
      <div class="model-body">
        <p>Once you delete the announcement, you cannot retrieve it.</p>
        <div class="btn-group flex">
          <a class="btn btn-full" href="javascript:void(0);" >Delete </a>
          <a class="btn btn-gray btn-full" href="javascript:void(0);">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>